.back{
 filter:blur(5px);
 background: #000;
 height:260px;
 width:100%;
 z-index: 9;
 position: absolute;
 left:0;
 opacity:.4;
}
.resi_banner{
  max-width:500px;
  min-height:200px;
  position: relative;
  margin:15% auto;
  z-index:999;
}
.resi_banner_inner{
  z-index:9999;
  position:relative;
  top:20px;
  padding:20px;
}
.top_banner{
  background: url('image/banner1.jpg');
  height:540px;
  z-index:10;
}
.top_banner_btn{
  height:45px;
  width:100px;
  text-align: center;
 padding:3px;
  border:1px solid #000;
  background: #4ec2e6;
  z-index: 99;
  box-shadow: 0 0 10px 1px #000;
  transition: all .5s;
}
.top_banner_btn:hover{
  background: #198fb3;
}
.side_border{
  border-left:3px solid yellow;
  padding:5px;
  z-index:99;
}
.active_project{
  background: yellow !important;
}
.project_box h4{
  margin-top: 30px;
}
.top_banner_temp{
  height:250px;
  display: none;
  background: url('image/disti.jpg');
  background-size: cover;
}
.title{
  border-bottom:2px solid #0d4759;
  padding-left: 10px;
  color:#0d4759;
  width:260px;
}
.title_bg{
  padding-left: 10px;
  background: #4EC2E6;
  box-shadow: 2px 2px 10px 1px #000;
  border-radius: 15px 15px 0px 0px;
  border-left: 4px solid red;
  min-height:50px;
  line-height: 50px;
}
.side_menu{
  padding: 20px;
}
.side_submenu{
  display:none;
}
.side_menu_items{
  background: #4EC2E6;
  height:50px;
  width:150px;
  line-height: 50px;
  text-align: center;
  margin-top: 20px;
  box-shadow: 2px 2px 10px 1px #000;
  border:1px solid #0a3643;
  cursor:pointer;
}
.side_submenu_items{
  background: #ffffcc;
  height:50px;
  width:150px;
  line-height: 50px;
  text-align: center;
  margin-top: 20px;
  box-shadow: 2px 2px 10px 1px #000;
  border:1px solid #0a3643;
  cursor:pointer;
}
.content{
  padding: 20px;
}
.c_theme{
  color:#4ec2e6;
}
.in_content{
  text-align: center;
}
.tips{
  margin:0 auto;
  text-align: left;
  width:343px;
}
.side_box{
  width:150px;
  border-left: 5px solid #4ec2e6;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 3px 0 10px 0 #000;
  border-radius: 15px 15px 0px 0px;
}
.main_section{
  min-height:465px;
}
.project_image{
 
}
@media only screen and (max-width : 500px){
  .resi_banner_inner{
    top:0;
  }
}
