 #preload
  {
   background-color:#DDDDDD;
    height:100%;
	width:100%;
   position:fixed;
   top:0px;
   left:0px;
	z-index:99999;
 }
 #status
  {
   height:500px;
   width:600px;
   position:fixed;
   top:175px;
   left:460px;
   background-image:url("../im/loading3.gif");
   background-repeat:no-repeat;
 }