.news_menu{
	cursor: pointer;
	font-family: Times New Roman;
}
.news_content{
	font-family: Times New Roman;
	font-size: 18px;
}
.news_cover img{
	width:100%;
}
.news_heading{
	font-family: Times New Roman;
}
#main{
	margin-top:70px;
}
.related_title{
	font-family: Times New Roman;
}