.barHeading {
    margin-top: 0px;
    margin-bottom: 50px;
    border-bottom: 2px solid #EB233C;
    display: inline-block;
    line-height: 35px;
}
.formContainer {
    background-color: rgba(204, 204, 204, 0.15);
    padding: 50px 0px;
    float: left;
    width: 100%;
}
.menu_mr {
    margin-top:51px;
}
.menu_icon {
    height: 19px;
    width: 19px;
}
.media-container-row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
}
.card {
    background-color: transparent;
    border: none;
}
.card-wrapper {
    padding-bottom: 2rem;
    background: #ffffff;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s;
}
.card-bg, .gray-bg {
    background-color: #efefef;
}
.card-img {
    width: auto;
    vertical-align: middle;
    border-style: none;
}
.card-img img {
    width:100%;
}
.card-box {
    padding: 0 2rem;
}
.card-title h4 {
    font-weight: 500;
    margin-bottom: 0;
    text-align: left;
    padding-top: 2rem;
}

.card-content {
    color: #767676;
}