@font-face {
	font-family: 'tron';
	src: url('./tron.eot');
	src: local('tron'), url('./tron.woff') format('woff'), url('./tron.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1403">Text with this font applied</p> */
.fontsforweb_fontid_1403 {
	font-family: 'tron' !important;
}

/* Font downloaded from FontsForWeb.com */