.header
{
	position: fixed;
	top:0;
	left:0;
	z-index: 999;
	width:100%;
	color:white;
}
.extra_menu 
{
	list-style-type:none;
	text-align: right;
}
.extra_menu li a
{
	text-decoration: none;
	color:#ccc;
}
.extra_menu li a:hover
{
	color:white;
}
.extra_menu li
{
	display: inline;
	padding: 5px 0 0 15px;
}
.navbar-inverse
{
	background: none;
}
.navbar-inverse .navbar-nav > li > a
{
	color:#fff;
	font-weight: bold;
	font-size:16px;
}
.extra_menu > li > a
{
	color:#fff;
	font-size:14px;
}
.extra_menu > li > a:hover
{
	color:yellow;
}
.navbar-inverse .navbar-nav > li > a:hover
{
	color:yellow;
}
.dropdown-menu
{
	background: rgba(10,20,30,20);
}
.dropdown-menu > li > a 
{
	color:#fff;
}
.back
{
	width:100%;
	height:100px;
	opacity: .6;
	background: black;
	position: absolute;
	top:0;
	z-index: -1;
}
.logo
{
	height:75px;
}
.image_slider
{
	padding:0;
}
.carousel-caption
{
	top:40%;
}
.slide_detail
{
	font-size:19px;
}
.slide img
{
	height:643px !important;
	width:100%;
}
.left_border_style
{
	border-left:6px solid rgba(0, 125, 235, 0.41);
	box-shadow: 4px 1px 8px 2px #ccc;
	margin-top:40px;
	margin-bottom: 40px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	background: url("../image/back_model.png");
}
.h1_style
{
	color:rgba(0, 117, 235, 0.57);
}
.h2_style
{
	color:rgba(235, 31, 0, 0.57);
}
.para
{
	font-size: 15px;
}
.services
{
	float:left;
	height:200px;
	width:230px;
	margin:15px;
	box-shadow: 0 0 8px 3px #ccc;
	text-align:center;
}
.caption
{
	font-size: 20px;
}
input,textarea
{
	margin-top:10px;
}
label
{
	margin-top:18px;
	font-size:14px;
}
.clients_box
{
	margin-top:20px;
	margin-bottom: 40px;
	min-height:180px;
	height:auto;
}
.clients
{
	height:140px;
	width:140px;
	position: relative;
	text-align:center;
	float:left;
	margin:10px;
	box-shadow: 0 0 8px 3px #ccc;
}
.clients img
{
	margin:15%;
	height:95px;
}
.footer_box
{
	background: url('../image/footer_back.jpg');
}
.help_box_content
{
	display:none;
	min-height:200px;
	border:1px solid transparent;
	color:#fff;
	background: url("../image/help_back.jpg");
	padding-left:20px;
	border-left:6px solid rgba(255, 51, 51, 0.55);
	border-right:6px solid rgba(255, 51, 51, 0.55);
}
.help_box_content p
{
	font-weight: 600;
}
.help_box >.row div
{
	font-size:15px;
}
.help_box_menu
{
	height:40px;
	width:auto;
	float:left;
	padding:5px 6px 0 6px;
	color:#fff;
	cursor:pointer;
	background: rgba(255, 51, 51, 0.55);;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.help_menu_switch
{
	background: url("../image/help_back.jpg");
	color:#000;
}
.help_box_menu:nth-child(2),.help_box_menu:nth-child(3)
{
	margin-left:52px;
}
.active
{
	display:block;
}
.we_offer
{
	color:#98D0E9;
}
.offer_list ul 
{
	list-style-type:circle;
}
.offer_list ul li
{
	font-size:15px;
	color:#fff;
	transition:.5s all;
}
.offer_list ul li:hover
{
	color:#317C9B;
}
.footer_bottom_panel
{
	border-top:1px solid #ccc;
	padding:17px 0 0 0;
	font-size: 14px;
}
.footer_bottom_panel ul
{
	list-style-type:none;
}
.footer_bottom_panel ul li
{
	display: inline;
	color:#98D0E9;
}
.top_scroll
{
	position:fixed;
	bottom:15px;
	right:10px;
	height:50px;
	width:50px;
	cursor:pointer;
}
/*--about_us.php---*/
.director_msg_img
{
	margin-top:27%;
}
/*--services.php--*/
.portal_img
{
	height:200px;
	margin-top:-72px;
	margin-left: 40px;
}

/*--portfolio.php--*/
.project_box
{
	margin-top: 20px;
	margin-bottom: 20px;
}
.projects
{
	padding:20px;
	box-shadow: 0 0 8px 1px #3b7b8a;
}

/*--contact_us.php--*/
.contact_icons
{
	height: 20px;
}
.add_icons
{
	height: 40px;
}
.map_box
{
	height:300px;
	width:100%;
}
.social_icon li
{
	margin-right:10px; 
}
@media screen and (max-width: 720px)
{
	.logo
	{
		height:41px;
	}
	.navbar-inverse
	{
		background: rgba(10,20,30,20);
	}
	.back
	{
		background: none;
	}
	.help_box_menu:nth-child(2),.help_box_menu:nth-child(3)
	{
		margin-left:0;
	}	
	.portal_img
	{
		margin-top: 0;
		margin-left: 0;
	}
}