body
{
background-image:url("img/b8.jpeg");
}
a
{
text-decoration:none;
}
@font-face {
	font-family: 'gravitat';
	src: url('./gravitat.eot');
	src: local('gravitat'), url('./gravitat.woff') format('woff'), url('./gravitat.ttf') format('truetype');
}
@font-face {
	font-family: 'tron';
	src: url('./tron.eot');
	src: local('tron'), url('./tron.woff') format('woff'), url('./tron.ttf') format('truetype');
}
#body_cover
{
position:fixed;
top:0px;
left:0px;
height:100%;
width:100%;
z-index:-1;
opacity:.5;
background-image:url("img/b9.jpg");
background-position:bottom;
filter:blur(6px);
}
#cover
{
position:relative;
top:0px;
left:0px;
height:400px;
width:100%
}
#cover img
{
position:relative;
top:0px;
left:0px;
margin:0px;
padding:0px;
height:400px;
width:100%;
}
#cover:hover  #chnage_cover
{
display:block;
}
#pro_pic:hover  #chnage_pro
{
display:block;
}
#pro_pic
{
 position:absolute;
 top:250px;
 left:100px;
 height:100px;
 width:200px;
}
#pro_pic img
{
height:300px;
width:300px;
border-radius:50%;
}
.pic_insert
{
position:absolute;
top:200px;
left:500px;
display:none;
height:100px;
width:300px;
z-index:40;
box-shadow:2px 2px 3px black;
}
.close
{
  position:relative;
  top:2px;
  left:80%;
  border-radius:5px;
 }
 input[type="file"],input[type="submit"]
 {
 border-radius:5px;
 }
 #detail
 {
   position:relative;
   top:170px;
   left:500px;
   height:500px;
   width:400px;
   }
   #detail th
   {
   font-family:'tron';
   height:50px;
   width:100px;
  }
   #detail td
   {
   font-family: 'gravitat';
      height:50px;
	  width:100px;
   }