body
{
	margin:0;
	padding:0;
	background:url("../image/user_back1.jpg") no-repeat;
	background-size:100% 100%;
	background-attachment:fixed;
}
.load_img
{
	margin:12% 0 0 49%;
	background:transparent;
	height:100px;
	width:100px;
}
a
{
	text-decoration:none;
}
input[type="text"],input[type="password"],input[type="number"],input[type="email"],input[type="search"],input[type="submit"],input[type="reset"],input[type="file"]
{
	outline:none;
	color:#fff;
}
input[type="text"],input[type="password"],input[type="number"],input[type="email"],input[type="file"]
{
	height:30px;
	width:300px;
	border:1px solid transparent;
	border-top-left-radius:8px;
	border-bottom-right-radius:8px;
	box-shadow:3px 3px 7px 0 #000;
	background:transparent;
	outline:none;
	padding-left:10px;
}
input[type="submit"],input[type="reset"]
{
	border:1px solid transparent;
	border-top-left-radius:8px;
	border-bottom-right-radius:8px;
	height:30px;
	padding:0 10px 0 10px;
	box-shadow:3px 3px 7px 0 #000;
	background:transparent;
	color:#fff;
}
.menu_item,.logo_spin,.logo_spin:hover img,.menu_btn img,.outbox,.lib_grid,.menu_text
{
	transition:all 1s;
}
.menu_spin
{
	transform:rotate(90deg);
}
.row
{
	width:100%;
	clear:both;
}
.page_height
{
	height:640px;
}
.col
{
	float:left;
}
.menu_box
{
	position:fixed;
	top:0;
	left:0;
	height:305px;
	width:143px;
	display:none;
	z-index:999;
}
.menu_back_cover
{
	height:367px;
	width:143px;
	background:#000;
	position:absolute;
	top:78px;
	left:0;
	z-index:-1;
	opacity:.2;
	-webkit-filter:blur(5px);
	filter: blur(5px);
}
.logo_img,.menu_logo
{
	height:54px;
	width:80px;
}
.menu_item:hover
{
	background:#605F49;
	cursor:pointer;
	width:120%;
	border-top-right-radius: 90px;
}
.menu_item:hover a
{
	color:#fff;
}
.menu_item
{
	width:51%;
	height:70px;
	text-align:center;
	padding:10px 0 0 0;
}
.menu_text
{
	line-height: 72px;
	z-index:10;
	display: none;
	width:0;
}
.menu_icons,.menu_icons img
{
	height:70px;
	z-index: 20;
}
.menu_item a
{
	color:#ccc;
	font-size:21px;
	line-height:36px;
}
.menu_btn,.logo
{
	float:left;
	color:#fff;
	cursor:pointer
}
.logo
{
	z-index:99;
	width:95%;
}
.logo_spin:hover img
{
	transform:rotate(360deg);
	transition:all 4s;
	cursor:pointer;
}
.menu_btn
{
	width:5%;
	height:30px;
	position:fixed;
	top:10px;
	left:10px;
	z-index:9999;
}
.menu_btn img
{
	height:55px;
}
.in_about
{
	margin:5% 0 0 33%;
}
.owener_icon,.owener_icon img,.user_icon,.user_icon img
{
	height:200px;
	width:200px;
	border-radius:50%;
}
.user_name
{
	font-size:50px;
	margin:12% 0 0 40px;
}
.in_profile
{
	margin-left:21%;
}
.title
{
	font-size:50px;
	margin:36px 0 0 40px;
}
.profile_tag
{
	width:240px;
	font-size:25px;
}
.lib_box
{
	margin-left:2.5%;
}
.lib_grid,.lib_grid img
{
	height:200px;
	width:300px;
}
.lib_grid
{
	margin:10px;
	background:green;
}
.form_tag
{
	width:150px;
	margin-top:27px;
}
.form_tag label
{
	font-size:24px;
}
.form_space
{
	margin-top:20px;
}
.in_upload_img
{
	margin:6% 0 0 34%;
	box-shadow:0 0 17px 0 #ccc;
	width:500px;
	padding:40px;
	color:#fff;
}
.back_cover,.back_cover_upload
{
	height:292px;
	width:580px;
	background:#000;
	position:absolute;
	top:17%;
	left:34%;
	z-index:-1;
	opacity:.5;
	-webkit-filter:blur(5px);
	filter: blur(5px);
}
