	
.header
{
	z-index:999;
	width:100%;
}	
.menu_back
{
	position:absolute;
	top:0;
	left:0;
	height:150px;
	width:100%;
	
}	
.menu_box
{
	margin-top:20px;
}	
.menu_box >ul
{
	list-style-type:none;
}
.menu_box >ul  li  
{
	display:inline;
	height:40px;
	padding:10px;
	background:rgba(10,30,40,0.53);
}
.menu_box >ul li>a    
{
	color:#fff;
	text-decoration:none;
}	
.carousel-inner > .item > img
{
	height:640px;
	width:100%;
}
.service_items
{
	padding:20px 0 20px 0;
}	
	
.service_logo
{
	height:100px;
	width:100px;
	border-radius:50%;
	position:relative;
	top:50px;
	left:51px;
}	
.service_content
{
	height:200px;
	width:80%;
	padding:10px 0 10px 100px;
	border-left:10px solid rgba(0, 125, 235, 0.41);
	border-right:10px solid rgba(0, 125, 235, 0.41);
	box-shadow: 4px 1px 8px 2px #ccc;
	background: url("../image/back_model.png");
	border-radius:5px;
}	
.service_content h1
{
	
}
.service_content p
{
	
}

.service_content,.service_logo
{
	float:left;
}	